
<div class="top-nav-bar">
  <div class="search-box">
    <img src="../../assets/cl-logo.png" class="logo">
    <input type="text" class="form-control">
    <span class="input-group-text" ><i class="fa fa-search"></i></span>
    </div>
    <div class="menu-bar">
      <ul>
        <li><a href="#" class="fa fa-shopping-cart"></a></li>
        <li><a href="#">Singup</a></li>
        <li><a href="#">Log In</a></li>
        </ul>
      </div>
      <div>
        <nav class="navbar navbar-expand-lg">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#abc">
            <span class="fa fa-bars"></span>
            </button>
          </nav>
        </div>
 </div>  


  
